html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(240,240,240);
    font-family: sans-serif;
    overflow: hidden;
}

.photoframe {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    top: 140px;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 1s;
}

.frame-0 {
    z-index: 2;
    left: 0;
    opacity: 0;
}

.frame-1 {
    z-index: 1;
    right: 0;
}

.date {
    position: fixed;
    left: 15px;
    top: 15px;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    font-size: 2.5em;
}

.time {
    position: fixed;
    right: 25px;
    top: 20px;
    background-color: rgba(0,0,0,.5);
    z-index: 100;
    font-size: 5em;
}

/* Weather container */
.weather-container {
    color: white;
    position: fixed;
    left: 2%;
    text-align: right;
    top: 60px;
    z-index: 100;
}

.weather-container .icon {
    height: 80px;
    filter: drop-shadow(0 0 2px black);
}

.weather-container .temp {
    font-size: 35pt;
    top: -27px;
    position: relative;
    text-shadow: -1px -1px 4px #000, 1px -1px 4px #000, -1px 1px 4px #000, 1px 1px 4px #000;
}

.weather-container .direction {
    height: 35px;
    position: relative;
    top: -25px;
    filter: drop-shadow(0 0 2px black);
}

/* Fresh screen */
.fresh-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1);
    z-index: 1001;
}

.bg-video {
    position: fixed;
    z-index: 0;
    width: 100%;
    top: 0;
    left: 0;
}