body {
    background-color: black;
    color: rgb(240,240,240);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.container {
    position: fixed;
    right: 2%;
    top: 35%;
}

.container div {
    text-align: center;
    padding: 0 25px;
    text-shadow:
   -1px -1px 4px #000,  
    1px -1px 4px #000,
    -1px 1px 4px #000,
     1px 1px 4px #000;
}

.date {
    font-size: 55pt;
}

.time {
    font-size: 95pt;
}

/* Weather container */
.weather-container {
    color: white;
    position: fixed;
    right: 2%;
    text-align: right;
    top: 15%;
}

.weather-container .icon img {
    height: 100px;
}

.weather-container .icon .temp {
    font-size: 40pt;
    top: -27px;
    position: relative;
}

/* Fresh screen */
.fresh-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1);
    z-index: 1001;
}